<a href="https://colab.research.google.com/github/chichi2025/demorepo/blob/main/Python_Basics_Part2_Apr25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Functions
types of argument
Lambda Function
OOPS
Exception Handling

In [ ]:
#Python Function: Write once and use many
#1.Define Function(body) 2.Invoke(calling)

def greet():
    print("Hello")
    print("Good Morning")

In [ ]:
greet()  #invoke

Hello
Good Morning

In [ ]:
greet()
greet()

Hello
Good Morning
Hello
Good Morning

In [ ]:
#Function Arguments and Return
def add(x,y):   #x,y are arguments
    c=x+y
    return c

In [ ]:
add(45,36)

81

In [ ]:
result=add(78,36)
print(result)

114

In [ ]:
#Function to return even numbers from a list
def even_item(lst):
  even=[]
  for i in lst:
    if i%2==0:
      even.append(i)
  return even


lst=[45,69,87,32,65,85,45,12,96,85]
print(even_item(lst))

[32, 12, 96]

In [ ]:
#Types of Arguments:the way arguments passed into a function
#1.Required-Positional Arguments

uname=input("Enter you name:")
uage=int(input("Enter your age:"))

def user(name,age):
    print("Name:",name)
    print("Age:",age)

user(uname,uage)
user(uname)

Enter you name:Amit
Enter your age:45
Name: Amit
Age: 45

TypeError: user() missing 1 required positional argument: 'age'

In [ ]:
uname=input("Enter you name:")
uage=int(input("Enter your age:"))

user(uage,uname)  #Positional

Enter you name:Amit
Enter your age:45
Name: 45
Age: Amit

In [ ]:
#2.Keyword Arguments
uname=input("Enter you name:")
uage=int(input("Enter your age:"))

user(name=uname,age=uage)  #Keywords
#Change the order
user(age=uage,name=uname) #Order do not matter

Enter you name:Amit
Enter your age:45
Name: Amit
Age: 45
Name: Amit
Age: 45

In [ ]:
#Default Arguments
def func1(name,location='Mumbai'):  #location is default argument
    print("Name:",name)
    print("Location:",location)

func1('Amit','Banglore')
func1('Raghav')  #I am missing location

Name: Amit
Location: Banglore
Name: Raghav
Location: Mumbai

In [ ]:
#4.Arbitary Argument----->DIY

In [ ]:
#Conbination of arguments
def func2(arg1,arg2,arg3):
    print("arg1:",arg1)
    print("arg2:",arg2)
    print("arg3:",arg3)

func2(1000,arg2='project1',arg3='Manager')
func2(arg1=2000,'project',arg3='Manager')  #not allowed

SyntaxError: positional argument follows keyword argument (<ipython-input-18-f3211fa5de86>, line 8)

In [ ]:
#Scope/lifetime of the Varibles: global and local
var1=100   #global scope variable

def func3():
  var2=200  #local Scope variable
  print("var1:",var1)
  print("var2:",var2)

func3()
print("var1:",var1)
print("var2:",var2) #calling local scope variable out side the scope

var1: 100
var2: 200
var1: 100

NameError: name 'var2' is not defined

In [ ]:
#Change global scope variables
var1=100   #global scope variable

def func3():
  global var1
  var1=500  #changing the global var
  var2=200  #local Scope variable
  print("var1:",var1)
  print("var2:",var2)

func3()
print("var1:",var1)

var1: 500
var2: 200
var1: 500

In [ ]:
#Python lambda functions/expressions: small and restricted function
#Single line body/single expression
#No name function
#default return

def add(x,y):   #x,y are arguments
    c=x+y
    return c

In [ ]:
#var_result=lambda <arguments>:<expression>
result=lambda x,y:x+y
print(result(10,20)) #method1
print((lambda x,y:x+y)(45,36)) #method2

30
81

In [ ]:
#less code-more work
#Advanced Function: filter(),map(),reduce()
#lambda can be passed into advanced function

In [ ]:
#filter(lambda exp,collection)
#Filter Function to return even numbers from a list
print(list(filter(lambda x:x%2==0,[45,69,87,32,65,85,45,12,96,85])))

[32, 12, 96]

In [ ]:
#map(lambda exp,collection)
print(list(map(lambda x:x**3,[10,20,30,40,50,60])))

[1000, 8000, 27000, 64000, 125000, 216000]

In [ ]:
print(list(filter(lambda x:x%2==0,[1,2,3,4,5,6,7,8])))

[2, 4, 6, 8]